@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  background-color: #f6cd31;
  color: #2f2f2f;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  margin: 50px; }
  body h1,
  body p.description {
    margin: 0; }
  body .kakuna-generator {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: repeat(4, auto);
    justify-items: center; }
    body .kakuna-generator > .header {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr; }
      body .kakuna-generator > .header > .logo {
        min-width: 200px;
        display: grid;
        grid-row: span 2; }
      body .kakuna-generator > .header > .title {
        -ms-flex-item-align: end;
            align-self: end;
        text-transform: uppercase; }
    body .kakuna-generator > .input > input {
      border: 1px solid #eeeeee;
      background-color: #fcfcfc;
      border-left: 3px solid;
      border-radius: 5px;
      -webkit-transition: border-color .5s ease-out;
      -o-transition: border-color .5s ease-out;
      transition: border-color .5s ease-out;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      padding: .5rem;
      border-left-color: #999999;
      font-family: "Roboto", sans-serif;
      -moz-appearance: textfield; }
      body .kakuna-generator > .input > input:hover {
        border-left-color: #2f2f2f; }
      body .kakuna-generator > .input > input:focus {
        border-left-color: #9c7b00;
        outline: none; }
      body .kakuna-generator > .input > input:invalid {
        border-left-color: #cc0000; }
      body .kakuna-generator > .input > input::-webkit-inner-spin-button, body .kakuna-generator > .input > input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      body .kakuna-generator > .input > input.placeholder {
        color: #2f2f2f;
        opacity: .5; }
      body .kakuna-generator > .input > input:-moz-placeholder {
        color: #2f2f2f;
        opacity: .5; }
      body .kakuna-generator > .input > input::-moz-placeholder {
        color: #2f2f2f;
        opacity: .5; }
      body .kakuna-generator > .input > input:-ms-input-placeholder {
        color: #2f2f2f;
        opacity: .5; }
      body .kakuna-generator > .input > input::-webkit-input-placeholder {
        color: #2f2f2f;
        opacity: .5; }
    body .kakuna-generator > .input > button {
      border: 1px solid #eeeeee;
      background-color: #fcfcfc;
      border-right: 3px solid;
      border-radius: 5px;
      -webkit-transition: border-color .5s ease-out;
      -o-transition: border-color .5s ease-out;
      transition: border-color .5s ease-out;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      padding: .5rem;
      border-right-color: #999999;
      font-family: "Roboto", sans-serif; }
      body .kakuna-generator > .input > button:hover {
        border-right-color: #2f2f2f; }
      body .kakuna-generator > .input > button:focus {
        border-right-color: #9c7b00;
        outline: none; }
      body .kakuna-generator > .input > button:invalid {
        border-right-color: #cc0000; }
    body .kakuna-generator > .generated-text p:first-child {
      margin-top: 0; }
    body .kakuna-generator > .generated-text p:last-child {
      margin-bottom: 0; }
